<ion-view view-title="About">
  <ion-content>
    <div class="card">
      <div class="item item-divider">About LeafWalk</div>
      <div class="item item-text-wrap">
        <p></p>
      </div>
      <!--<div class="list list-inset">
        <div class="item item-divider">Corporate Leadership</div>
        <ul>
          <li class="item item-avatar item-text-wrap" ng-repeat="leader in leaders">
            <img ng-src="{{baseURL+leader.image}}" alt="{{leader.name}}" />
            <h3>{{leader.name}}</h3>
            <h4>{{leader.designation}}</h4>
            <p>{{leader.description}}</p>
          </li>
        </ul>
      </div>-->
    </div>
  </ion-content>
</ion-view>
