<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">Location Information</div>
      <div class="item item-body item-text-wrap">
        <strong>Our Address</strong>
        <address>
          123 London Road, <br/>SW1 1PT, <br/>United Kingdom
          <br/>
          <i class="icon ion-ios-telephone"></i> +44 1234 5678
          <br/>
          <i class="icon ion-android-print"></i> <a href="tel:44-8765-4321">+44 8765 4321</a>
          <br/>
          <i class="icon ion-email"></i> <a href="mailto:info@leafwalk.uk">info@leafwalk.uk</a>
        </address>
      </div>
      <div class="button-bar">
        <a href="tel:44-8765-4321" class="button button-positive"><i class="icon ion-ios-telephone"></i> Call</a>
        <a href="skype:leafWalk_UK?call" class="button button-calm"><i class="icon ion-social-skype"></i> Skype</a>
        <a href="mailto:info@leafwalk.uk" class="button button-balanced"><i class="icon ion-email"></i> Email</a>
    </div>
  </ion-content>
</ion-view>
